<!-- <h1 id="page-header">SET</h1>
<span id="response-bar"></span><br> -->
<!-- <div>
  <span>There are</span>
  <strong><span id="remaining-cards"></span></strong>
  <span>cards in the draw deck.</span>
</div> -->
<div><%= react_component("SetMain") %></div>

<!-- <div>
  <span>You've made</span>
  <strong><span id="sets-made">0</span></strong>
  <span>sets!</span>
</div> -->


<!-- <div id="card-grid">

  <ul id="all-cards">
    <% @game.showing_cards.each do |card| %>
      <%= render partial: "partials/card_show", locals: {card: card } %>
    <% end %>
  </ul>

</div> -->
<span id="game-id"><%=@game.id %></span>
