<h1>Game Show Page</h1>

<div id="remaining-cards">

</div>

<div id="card-grid">
  <ul id="all-cards">
    <%= render partial: "partials/card_show_next_deal", locals: {player_selection: @game.initial_deal } %>
  </ul>

</div>
