/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.remaining-cards {
  border-width: 2px;
  border-color: blue;
}

 div.card-show {
  border-width: 2px;
  border-style: solid;
  display: flex;
  padding: 5px;

 }

 div.choose {
  border-width: 2px;
  border-color: yellow;
 }

 ul#all-cards {
  display: flex;
 }


 img {
  max-width: 50%;
  max-height: 50%;
 }


